page-signup {
#signup{
    background: white;
    .title{
        margin-top: 50%;
        text-align: center;
        margin-bottom: 30%;
    }

    .loginForm {
        width: 100%;
        margin: 0 auto;
    }

    .loginForm button {
        margin-top: 30px;
    }
}
}