<!--
  Generated template for the PushPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="nav">
    <ion-title class="nav-text">타임 캡슐 심기</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="form">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label form_label">1. 캡슐 이름 입력해주세요</span><br>
        <input type="text" placeholder="귀요미들" class="form_element" [(ngModel)]="requestData.capsule_name"><br>
        <span class="input-label form_label">2. 태그할 친구를 선택해주세요.</span><br>
        <input type="text" placeholder="최영훈" class="form_element" [(ngModel)]="requestData.friends"><br>
        <span class="input-label form_label">3. 심을 사진을 선택하세요.</span><br><br>
        <button ion-button full color="dark" (click)="getPhoto()">사진 선택</button><br>
        
        <span class="input-label form_label">4. 봉인할 기간을 설정하세요.</span><br>
        <ion-item>
          <ion-datetime displayFormat="~ YY.MM.D.HH.mm" min="2017" max="2027" pickerFormat="YYYY/MM/D/HH:mm" [(ngModel)]="requestData.expiredate"></ion-datetime>
        </ion-item>
      </label>
    </div>

    <button ion-button full (click)="capsulePut()">캡슐 심기</button>
    
    <!--<ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let photo of photos; let id = index">
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(index)"></ion-icon>
            <img [src]="photo" *ngIf="photo" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>-->

  </div>
</ion-content>
